

/**************** MENU GENERAL  ***********************/

#menu > div{
    display: inline-block;
}

.logo img{
    height: 70px;
    width: auto;
}

.btn-primary {
    border: 0px;
}
  
.builder-content{
    padding: 20px 0px;
    position: relative;
}

.pb{
    padding-bottom: 55px;
}

.pt{
    padding-top: 55px;
}

.bg-primary{
    background-color: var(--background-color1)!important;
} 

.bg-secondary{
    background-color: var(--background-color2)!important;
}



/**************** HEADER 1 ***********************/

header{
    padding: 30px;
}

.header1 .menu{
    list-style-type: none;
    margin: 0px;
}

.header1 .menu li{
    display: inline-block;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    margin-left: 40px;
}

.header1 .menu li a{
    color: #929292;
}

.header1 .menu li.current_page_item a{
    color: #3f51b5;
}

.header1 .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/**************** HEADER 2 ***********************/

.header2{
    padding: 20px 0px;
}

.header2 .menu{
    list-style-type: none;
    margin: 0px;
}

.header2 .menu li{
    display: inline-block;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    margin-left: 40px;
    position: relative;
    z-index: 999999;
}



.header2 .menu li a{
    color: #929292;
}


.header2 .menu li a:hover{
    color: #929292;
}

/*.header2 .menu li.current_page_item a{
    color: #3f51b5;
}*/

.header2 .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*.header2 .menu li.current_page_item a{
    background: #3f51b5;
    padding: 15px 40px;
    border-radius: 50px;
    color: #fff;
}*/



.header2 #menu .btn-primary{
    margin-left: 140px;
}

/**************** HEADER 3 ***********************/

.header3{
    padding: 40px;
}

.header3 #menu{
    display: flex;
    align-items: center;
}

.header3 .menu{
    list-style-type: none;
    margin: 0px;
    display: flex;
    align-items: center;
}

.header3 .menu li{
    display: inline-block;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    margin-left: 40px;
}

.header3 .menu li a{
    color: #929292;
}

/*.header3 .menu li.current_page_item a{
    color: #3f51b5;
}*/

.header3 .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*.header3 .menu li.button a{
    background: #3f51b5;
    padding: 15px 40px;
    border-radius: 50px;
    color: #fff;
}*/

.header3 .social{
    display: inline-block;
    list-style-type: none;
    margin-left: 40px;
}


.header3 .social li{
    display: inline-block;
    margin-right: 7px;
    margin-left: 7px;
}

.header3 .social li a{
    color: #111;
    font-size: 25px;
}

/**************** HEADER 4 ***********************/

.header4 .menu-mobile{
    display: none;
}




/**************** HEADER 5 ***********************/

.header5 .menu-mobile li.button a{
    background: #3f51b5;
    padding: 15px 40px;
    border-radius: 50px;
    color: #fff;
}

.header5 .menu-mobile{
    list-style-type: none;
    margin: 0px;
}

.header5 #menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

/**************** HEADER 6 ***********************/

.header6 .menu-mobile li.button a{
    background: #3f51b5;
    padding: 15px 40px;
    border-radius: 50px;
    color: #fff;
}

.header6 .social{
    display: inline-block;
    margin-right: 40px;
}


.header6 .social li a{
    color: #111;
    font-size: 25px;
}

.header6 .menu-mobile li{
    display: inline-block;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

.header6 .menu-mobile{
    list-style-type: none;
    margin: 0px;
}

.header6 #menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
/**************** HEADER 7 ***********************/

.header7 .contact-block{
    margin-right: 20px;
}

.header7 .contact-block p{
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 22px;
    margin-bottom: 0px;
}

.header7 .contact-block span{
    font-size: 18px;
    color: gray;
    font-family: 'Roboto';
}

.header7 .menu-mobile{
    display: flex;
    align-items: center;
}

.header7 .menu-mobile li.button{
    list-style: none;
}

.header7 .menu-mobile li.button a{
    background: #3f51b5;
    padding: 15px 40px;
    border-radius: 50px;
    color: #fff;
}

.header .social li a{
    color: #111;
    font-size: 25px;
}

/**************** HEADER 8 ***********************/

.header8 #menu{
    display: flex;
    align-content: center;
    margin: 0 auto;
}

.header8 .menu-mobile li.button{
    list-style: none;
}

.header8 .menu{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin: 0px 20px;
    display: flex;
    align-items:center;
}

.header8 .menu li{
    display: inline;
}

.header8 .menu li{
    display: inline-block;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    margin: 0px 20px;
}

.header8 .menu li a{
    color: #929292;
}

/**************** HEADER 9 ***********************/

 .is-sticky .header9 #menu{
    display: none!important;
}

.header9 .navigation{
    display: block;
}

.header9 #menu{
    display: block;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid gray;
    padding: 20px 0px;
}

.header9 #menu-bottom{
    display: block;
    text-align: center;
    width: 100%;
}

.header9 .menu{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin: 0px 20px;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 20px 0px;
}

.header9 .menu li{
    display: inline;
}

.header9 .menu li{
    display: inline-block;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    margin: 0px 20px;
}

.header9 .menu li a{
    color: #929292;
}


/**************** SUBMENU ***********************/

.sub-menu{
    display: none;
    position: absolute;
    padding: 0px;
    padding-top: 60px;
    background-color: #fff;
    width: 240px;
    text-align: left;
}

.sub-menu:after{
    -webkit-box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 21%);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 21%);
    content: '';
    height: calc(100% - 60px);
    position: absolute;
    border: 0px;
    left: 0px;
    width: 100%;
    bottom: 0px;
}

body .sub-menu li{
    display: block;
    background-color: #ffffff;
    margin-left: 0px!important;;
    padding: 10px 0px;
    border-bottom: 1px solid #ebebeb;
    text-align: left;
    width: 100%;
}

body .sub-menu li:hover{
    background-color: #f5f6f4;
}

body .sub-menu li a{
    padding: 0px 10px;
}

body .sub-menu li a:hover{
    text-decoration: none;
}


/**************** TOPBAR ***********************/

.topbar{
    display: flex;
    justify-content: space-between;
}

#topbar{
    background: #d6d6d6;
    padding: 15px 0px;
}

.topbar span{
    color: #ffffff;
}

.topbar .info1 span:nth-child(1){
    padding-right: 10px;
}

.topbar .info1 span:nth-child(2){
    border-left: 2px solid white;
    padding-left: 15px;
}

.topbar .info2 span:nth-child(1){
    padding-right: 10px;
}

.topbar .info2 span:nth-child(2){
    border-left: 2px solid white;
    padding-left: 15px;
}

/**************** GENERAL ***********************/

*{
    font-family: 'Roboto';
}

.menu-menu-primary-container{
    display: inline-block;
}

/**************** SIDEBAR MENU ***********************/

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  

#mySidebar ul{
    list-style-type: none;
    padding: 0px;
}
