/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  #hero .hero-title {
    flex-direction: column;
  }
  #hero .hero-title .small,
#hero .hero-title .red {
    font-size: 1.4375rem;
  }
  #hero .hero-title .big {
    font-size: 4.5rem;
  }
  #hero .content {
    padding-left: 0rem;
  }
  #hero .content p {
    width: 75%;
  }
  #hero .content a {
    font-size: 0.7rem;
    display: block;
    line-height: 1.2rem;
  }
  #hero .content a:hover {
    border-width: 2px;
    border-color: #2b3e47;
    border-style: solid;
  }

  #main-footer {
    padding: 1rem 0rem;
  }
  #main-footer .footer {
    width: 100%;
    max-width: 100%;
  }
  #main-footer .footer #menu-mainfooterslatco {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  #main-footer .footer #menu-mainfooterslatco li a {
    padding-left: 0;
  }

  #logos {
    padding: 4rem 4rem;
    background-color: #f9f9f9;
  }
  #logos .logos {
    flex-direction: column;
    align-items: center;
  }
  #logos .logos .item-1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  #logos .logos .item-2 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  #logos .logos .item-2 img {
    width: 54px;
    height: 32px;
  }
  #logos .logos .item-3 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  #logos .logos .item-3 img {
    width: 160px;
    height: 23px;
  }
  #logos .logos .item-4 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  #logos .logos .item-4 img {
    width: 24px;
    height: 24px;
  }
  #logos .logos .item-5 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  #logos .logos .item-5 img {
    width: 93px;
    height: 19px;
  }
  #logos .logos .item-6 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  #logos .logos .item-6 img {
    width: 40px;
    height: 40px;
  }

  #blq-three {
    padding: 4rem 0.9375rem;
  }
  #blq-three .columns {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
  }
  #blq-three .columns .column-1 {
    width: 100%;
  }
  #blq-three .columns .column-1 h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    width: 100%;
    margin: auto;
    text-align: left;
  }
  #blq-three .columns .column-1 h2:before {
    content: "";
    position: absolute;
    background: #ff3c00;
    display: block;
    width: 90px;
    height: 4px;
    bottom: -25px;
    left: 0;
  }
  #blq-three .columns .column-2 {
    width: 100%;
    margin-top: 6rem;
  }

  #blq-four {
    background: none !important;
    padding: 4rem 0.9375rem;
  }
  #blq-four .columns {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  #blq-four .columns .column-1 {
    width: 100%;
    margin-top: 60px;
  }
  #blq-four .columns .column-2 {
    width: 100%;
  }
  #blq-four .columns .column-2 p {
    color: #000;
  }
  #blq-four .columns .column-2 .p-b {
    padding-bottom: 2rem;
  }
  #blq-four .columns .column-2 a {
    font-size: 1rem;
    padding: 0.6rem 0.6rem;
    line-height: 1.8rem;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    background-color: #ff3c00;
    margin-top: 100px;
  }

  #blq-five {
    background: none !important;
    padding: 20px 15px;
  }
  #blq-five .columns {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  #blq-five .columns .column-1 {
    width: 100%;
  }
  #blq-five .columns .column-1 h2 {
    font-size: 1.5625rem;
    line-height: 2.5rem;
  }
  #blq-five .columns .column-1 h2::before {
    content: "";
    position: absolute;
    background: #ff3c00;
    display: block;
    width: 55px;
    height: 4px;
    top: 125%;
    right: 50%;
  }
  #blq-five .columns .column-2 {
    width: 100%;
  }

  #blq-six {
    padding: 4rem 0.9375rem;
    background: none !important;
  }
  #blq-six .columns .column-2 .orange {
    padding-top: 80px;
  }
  #blq-six .columns {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  #blq-six .columns .column-1 {
    width: 100%;
    margin-top: 140px;
  }
  #blq-six .columns .column-1 .left-bottom {
    display: none;
  }
  #blq-six .columns .column-1 h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-align: left;
    width: 100%;
    margin: auto;
  }
  #blq-six .columns .column-1 h2::before {
    left: 0;
  }
  #blq-six .columns .column-2 {
    width: 100%;
    margin-top: 6rem;
  }
  #blq-six .columns .column-2 .none {
    display: block;
    margin-bottom: 18rem;
  }
  #blq-six .columns .column-2 .none img {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 100px;
  }
  #blq-six .columns .column-2 a {
    font-size: 0.4rem;
    font-size: 1rem;
    padding: 0.6rem 0.6rem;
    line-height: 1.8rem;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 80px;
  }
  #blq-six .columns .column-2 .p-b {
    padding-bottom: 4rem;
  }

  #blq-eight {
    padding: 25px 20px;
  }
  #blq-eight .columns {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  #blq-eight .columns .column-1 {
    width: 100%;
    margin-bottom: 5rem;
  }
  #blq-eight .columns .column-1 h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  #blq-eight .columns .column-1 h2::before {
    content: "";
    position: absolute;
    background: #ff3c00;
    display: block;
    width: 90px;
    height: 4px;
    bottom: -12.25%;
    left: 0;
  }
  #blq-eight .columns .column-1 .orange {
    margin-top: 5rem;
  }
  #blq-eight .columns .column-2 {
    width: 100%;
  }
  #blq-eight .columns .column-2 .center {
    text-align: center;
    margin-bottom: -4.3125rem;
  }
  #blq-eight .columns .column-2 .center img {
    width: 100%;
    height: auto;
  }

  #blq-nine {
    background: none !important;
    padding: 4rem 0.9375rem;
  }
  #blq-nine .columns {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  #blq-nine .columns .column-1 {
    width: 100%;
  }
  #blq-nine .columns .column-2 {
    width: 100%;
  }
  #blq-nine .columns .column-2 .orange {
    color: #ff3c00;
    font-size: 1.1875rem;
    font-weight: 700;
  }
  #blq-nine .columns .column-2 p {
    font-size: 0.9375rem;
    line-height: 2rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  #blq-nine .columns .column-2 .p-t {
    padding-top: 4rem;
  }
  #blq-nine .columns .column-2 .p-b {
    padding-bottom: 4rem;
  }
  #blq-nine .columns .column-2 a {
    font-size: 0.4rem;
    font-size: 1rem;
    padding: 0.6rem 0.6rem;
    line-height: 1.8rem;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
  }

  #blq-ten {
    background-size: cover;
    background-position: bottom;
    padding: 4rem 0.9375rem;
  }
  #blq-ten .columns {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  #blq-ten .columns .column-1 {
    width: 100%;
    margin-bottom: 4rem;
  }
  #blq-ten .columns .column-1 p {
    font-size: 0.9375rem;
    line-height: 2rem;
    margin: 0;
    margin-bottom: 1rem;
  }
  #blq-ten .columns .column-1 .orange {
    color: #ff3c00;
    font-size: 1.1875rem;
    font-weight: 700;
  }
  #blq-ten .columns .column-1 .p-b {
    padding-bottom: 2rem;
  }
  #blq-ten .columns .column-1 a {
    font-size: 0.4rem;
    font-size: 1rem;
    padding: 0.6rem 0.6rem;
    line-height: 1.8rem;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
  }
  #blq-ten .columns .column-2 {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  #blq-ten .columns .column-2 .engadin img {
    width: 100%;
    height: auto;
  }
  #blq-ten .columns .column-2 .engadin p {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-left: 0;
  }
  #blq-ten .columns .column-2 .ironman img {
    width: 100%;
    height: auto;
  }
  #blq-ten .columns .column-2 .ironman p {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-left: 0;
    margin-top: 0.5rem;
  }

  #uber-slatco {
    background-size: cover;
    background-position: -140px 0;
    background-repeat: no-repeat;
    padding: 4rem 0.9375rem;
  }
  #uber-slatco .columns {
    background: none;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  #uber-slatco .columns .column-1 {
    width: 100%;
  }
  #uber-slatco .columns .column-1 .mobile.img-mobile-back {
    width: 100%;
    height: auto;
    margin-bottom: 4rem;
  }
  #uber-slatco .columns .column-1 h2 {
    width: 60%;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 6rem;
  }
  #uber-slatco .columns .column-1 h2::before {
    bottom: -35%;
  }
  #uber-slatco .columns .column-1 p {
    font-size: 0.9375rem;
    line-height: 2rem;
    margin: 0;
    margin-bottom: 1rem;
    color: #fff;
    width: 100%;
  }
  #uber-slatco .columns .column-1 .orange {
    color: #ff3c00;
    font-size: 1.1875rem;
    font-weight: 700;
  }
  #uber-slatco .columns .column-1 .p-b {
    padding-bottom: 4rem;
  }
  #uber-slatco .columns .column-1 a {
    font-size: 1rem;
    padding: 0.6rem 0.6rem;
    line-height: 1.8rem;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
  }
  #uber-slatco .columns .column-2 {
    width: 100%;
    text-align: center;
  }

  #dein-ganz {
    background-size: cover;
    padding: 4rem 0.9375rem;
  }
  #dein-ganz .column {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  #dein-ganz .column h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    width: 100%;
  }
  #dein-ganz .column h2:before {
    bottom: -25.5%;
    left: 37%;
  }
  #dein-ganz .column .content {
    padding-top: 5rem;
  }
  #dein-ganz .column .content p {
    text-align: center;
    margin: 0 auto;
    font-size: 0.9375rem;
    line-height: 2rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  #dein-ganz .column .content .orange {
    color: #ff3c00;
    font-weight: 700;
  }
  #dein-ganz .column .content .p-b {
    margin-bottom: 5rem;
  }
  #dein-ganz .column .content .p-t {
    margin-top: 5rem;
  }
  #dein-ganz .column .button a {
    font-size: 0.4rem;
    font-size: 1rem;
    padding: 0.6rem 0.6rem;
    line-height: 1.8rem;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
  }

  #mentale-transformation {
    padding: 4rem 0;
  }
  #mentale-transformation .container {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  #mentale-transformation .container h2 {
    font-size: 2.5rem;
    line-height: 2.4rem;
    width: 75%;
    margin: 0 auto;
    margin-top: 3rem;
  }
  #mentale-transformation .container h2:before {
    left: 35%;
  }
  #mentale-transformation .container .p-t {
    margin-top: 3rem;
    line-height: 2rem;
  }
  #mentale-transformation .container .logo-service {
    text-align: center;
  }
  #mentale-transformation .container .logo-service img {
    width: 70%;
    height: auto;
  }
  #mentale-transformation .container .content {
    padding: 4rem 0.9375rem;
  }
  #mentale-transformation .container .content .text-bold {
    color: #000;
    font-size: 1.1875rem;
    font-weight: 700;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
  }
  #mentale-transformation .container .content .row-one {
    display: flex;
    justify-content: space-around;
  }
  #mentale-transformation .container .grid {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  #mentale-transformation .container .grid > .item-1,
#mentale-transformation .container .grid > .item-2,
#mentale-transformation .container .grid > .item-3,
#mentale-transformation .container .grid > .item-4,
#mentale-transformation .container .grid > .item-5,
#mentale-transformation .container .grid > .item-6 {
    width: 100%;
    margin: -0.3125rem;
  }
  #mentale-transformation .container .grid > .item-1 img,
#mentale-transformation .container .grid > .item-2 img,
#mentale-transformation .container .grid > .item-3 img,
#mentale-transformation .container .grid > .item-4 img,
#mentale-transformation .container .grid > .item-5 img,
#mentale-transformation .container .grid > .item-6 img {
    width: 100%;
    height: 288px;
    position: relative;
  }
  #mentale-transformation .container .grid > .item-1 .float,
#mentale-transformation .container .grid > .item-2 .float,
#mentale-transformation .container .grid > .item-3 .float,
#mentale-transformation .container .grid > .item-4 .float,
#mentale-transformation .container .grid > .item-5 .float,
#mentale-transformation .container .grid > .item-6 .float {
    position: absolute;
    font-size: 0.8rem;
    margin-top: -8rem;
    line-height: 2rem;
    text-align: left;
    color: #fff;
    margin-left: 0.5rem;
    font-weight: 700;
    width: 65%;
  }
  #mentale-transformation .container .grid .item-7 {
    width: 100%;
    margin-top: 0;
  }
  #mentale-transformation .container .grid .item-7 img {
    width: 100%;
    height: 288px;
  }
  #mentale-transformation .container .grid .item-7 .float {
    position: absolute;
    font-size: 1rem;
    margin-top: -8rem;
    line-height: 2rem;
    text-align: left;
    color: #fff;
    margin-left: 1.5rem;
    font-weight: 700;
  }
  #mentale-transformation .container a {
    font-size: 1rem;
    padding: 0.6rem 0.6rem;
    line-height: 1.8rem;
    width: 90%;
    box-sizing: border-box;
    display: inline-block;
  }

  #begeisterte {
    background-size: cover;
    padding: 4rem 0.9375rem;
  }
  #begeisterte .container {
    width: 100%;
    max-width: 100%;
  }
  #begeisterte .container h2 {
    font-size: 2.5rem;
    line-height: 2.4rem;
    width: 100%;
  }
  #begeisterte .container h2:before {
    left: 38%;
  }
  #begeisterte .container .testimonials-items {
    margin-top: 6rem;
  }
  #begeisterte .container .testimonials-items .item {
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 60px;
  }
  #begeisterte .container .testimonials-items .item .colum1 {
    width: 100%;
  }
  #begeisterte .container .testimonials-items .item .colum1 img {
    width: 100%;
    height: auto;
  }
  #begeisterte .container .testimonials-items .item .column2 {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  #begeisterte .container .testimonials-items .item .column2 p {
    font-size: 0.9375rem;
    line-height: 2rem;
    margin: 0;
    line-height: 2.5rem;
  }

  #kostenloses {
    padding: 4rem 0.9375rem;
  }
  #kostenloses .column {
    width: 100%;
    max-width: 100%;
  }
  #kostenloses .column h2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  #kostenloses .column .content p {
    width: 100%;
  }
  #kostenloses .column .content p::after {
    content: "";
    position: absolute;
    background: #ff3c00;
    display: block;
    width: 45px;
    height: 4px;
    bottom: -11.25%;
    left: 45%;
  }
  #kostenloses .column .signature {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  #kostenloses .column .button {
    text-align: center;
  }
  #kostenloses .column .button a {
    font-size: 1rem;
    padding: 0.6rem 0.6rem;
    line-height: 1.8rem;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
  }

  /*Imagenes en reposnivo*/
  .none-movil {
    display: block;
    margin-bottom: 14rem;
  }
  .none-movil img {
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 100px;
  }

  .none-movil-two {
    display: block;
    margin-bottom: 15rem;
  }
  .none-movil-two img {
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 100px;
  }

  .navBar .logo-mobile {
    display: block;
    padding-top: 15px;
  }
  .navBar .logo-default {
    display: none;
  }

  nav.navBar.sticky .logo-sticky {
    width: 120px;
    display: none !important;
  }

  #menu-item-5 a {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    line-height: 1.8rem;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    border-width: 2px;
    border-color: #ff3c00;
    border-style: solid;
    border-radius: 10px;
    margin-top: 8rem;
  }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 767px) {
  #hero .hero-title {
    flex-direction: column;
  }
  #hero .hero-title .small,
#hero .hero-title .red {
    font-size: 1.4375rem;
  }
  #hero .hero-title .big {
    font-size: 4.5rem;
  }
  #hero .content {
    padding-left: 0rem;
  }
  #hero .content p {
    width: 75%;
  }
  #hero .content a {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    display: block;
    line-height: 1.8rem;
  }
  #hero .content a:hover {
    border-width: 2px;
    border-color: #2b3e47;
    border-style: solid;
  }

  #main-footer {
    padding: 1rem 0rem;
  }
  #main-footer .footer {
    width: 100%;
    max-width: 100%;
  }
  #main-footer .footer #menu-mainfooterslatco {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  #main-footer .footer #menu-mainfooterslatco li a {
    padding-left: 0;
  }

  #logos {
    padding: 4rem 4rem;
    background-color: #f9f9f9;
  }
  #logos .logos {
    flex-direction: column;
    align-items: center;
  }
  #logos .logos .item-1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  #logos .logos .item-2 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  #logos .logos .item-2 img {
    width: 54px;
    height: 32px;
  }
  #logos .logos .item-3 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  #logos .logos .item-3 img {
    width: 160px;
    height: 23px;
  }
  #logos .logos .item-4 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  #logos .logos .item-4 img {
    width: 24px;
    height: 24px;
  }
  #logos .logos .item-5 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  #logos .logos .item-5 img {
    width: 93px;
    height: 19px;
  }
  #logos .logos .item-6 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  #logos .logos .item-6 img {
    width: 40px;
    height: 40px;
  }

  #blq-three {
    padding: 4rem 0.9375rem;
  }
  #blq-three .columns {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
  }
  #blq-three .columns .column-1 {
    width: 100%;
  }
  #blq-three .columns .column-1 h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    width: 100%;
    margin: auto;
    text-align: left;
  }
  #blq-three .columns .column-1 h2:before {
    content: "";
    position: absolute;
    background: #ff3c00;
    display: block;
    width: 90px;
    height: 4px;
    bottom: -25px;
    left: 0;
  }
  #blq-three .columns .column-2 {
    width: 100%;
    margin-top: 6rem;
  }

  #blq-four {
    background: none !important;
    padding: 4rem 0.9375rem;
  }
  #blq-four .columns {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  #blq-four .columns .column-1 {
    width: 100%;
  }
  #blq-four .columns .column-2 {
    width: 100%;
  }
  #blq-four .columns .column-2 p {
    color: #000;
  }
  #blq-four .columns .column-2 .p-b {
    padding-bottom: 2rem;
  }
  #blq-four .columns .column-2 a {
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
    line-height: 1.8rem;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    background-color: #ff3c00;
    margin-top: 100px;
  }

  #blq-five {
    background: none !important;
    padding: 20px 15px;
  }
  #blq-five .columns {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  #blq-five .columns .column-1 {
    width: 100%;
  }
  #blq-five .columns .column-1 h2 {
    font-size: 1.5625rem;
    line-height: 2.5rem;
  }
  #blq-five .columns .column-1 h2::before {
    content: "";
    position: absolute;
    background: #ff3c00;
    display: block;
    width: 55px;
    height: 4px;
    top: 125%;
    right: 50%;
  }
  #blq-five .columns .column-2 {
    width: 100%;
  }

  #blq-six {
    padding: 4rem 0.9375rem;
    background: none !important;
  }
  #blq-six .columns .column-2 .orange {
    padding-top: 80px;
  }
  #blq-six .columns {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  #blq-six .columns .column-1 {
    width: 100%;
    margin-top: 140px;
  }
  #blq-six .columns .column-1 .left-bottom {
    display: none;
  }
  #blq-six .columns .column-1 h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-align: left;
    width: 100%;
    margin: auto;
  }
  #blq-six .columns .column-1 h2::before {
    left: 0;
  }
  #blq-six .columns .column-2 {
    width: 100%;
    margin-top: 6rem;
  }
  #blq-six .columns .column-2 .none {
    display: block;
    margin-bottom: 18rem;
  }
  #blq-six .columns .column-2 .none img {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 100px;
  }
  #blq-six .columns .column-2 a {
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
    line-height: 1.8rem;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 80px;
  }
  #blq-six .columns .column-2 .p-b {
    padding-bottom: 2rem;
  }

  #blq-eight {
    padding: 25px 20px;
  }
  #blq-eight .columns {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  #blq-eight .columns .column-1 {
    width: 100%;
    margin-bottom: 5rem;
  }
  #blq-eight .columns .column-1 h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  #blq-eight .columns .column-1 h2::before {
    content: "";
    position: absolute;
    background: #ff3c00;
    display: block;
    width: 90px;
    height: 4px;
    bottom: -12.25%;
    left: 0;
  }
  #blq-eight .columns .column-1 .orange {
    margin-top: 5rem;
  }
  #blq-eight .columns .column-2 {
    width: 100%;
  }
  #blq-eight .columns .column-2 .center {
    text-align: center;
    margin-bottom: -4.3125rem;
  }
  #blq-eight .columns .column-2 .center img {
    width: 100%;
    height: auto;
  }

  #blq-nine {
    background: none !important;
    padding: 4rem 0.9375rem;
  }
  #blq-nine .columns {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  #blq-nine .columns .column-1 {
    width: 100%;
  }
  #blq-nine .columns .column-2 {
    width: 100%;
  }
  #blq-nine .columns .column-2 .orange {
    color: #ff3c00;
    font-size: 1.1875rem;
    font-weight: 700;
  }
  #blq-nine .columns .column-2 p {
    font-size: 0.9375rem;
    line-height: 2rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  #blq-nine .columns .column-2 .p-t {
    padding-top: 4rem;
  }
  #blq-nine .columns .column-2 .p-b {
    padding-bottom: 4rem;
  }
  #blq-nine .columns .column-2 a {
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
    line-height: 1.8rem;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
  }

  #blq-ten {
    background-size: cover;
    background-position: bottom;
    padding: 4rem 0.9375rem;
  }
  #blq-ten .columns {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  #blq-ten .columns .column-1 {
    width: 100%;
    margin-bottom: 4rem;
  }
  #blq-ten .columns .column-1 p {
    font-size: 0.9375rem;
    line-height: 2rem;
    margin: 0;
    margin-bottom: 1rem;
  }
  #blq-ten .columns .column-1 .orange {
    color: #ff3c00;
    font-size: 1.1875rem;
    font-weight: 700;
  }
  #blq-ten .columns .column-1 .p-b {
    padding-bottom: 2rem;
  }
  #blq-ten .columns .column-1 a {
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
    line-height: 1.8rem;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
  }
  #blq-ten .columns .column-2 {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  #blq-ten .columns .column-2 .engadin img {
    width: 100%;
    height: auto;
  }
  #blq-ten .columns .column-2 .engadin p {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-left: 0;
  }
  #blq-ten .columns .column-2 .ironman img {
    width: 100%;
    height: auto;
  }
  #blq-ten .columns .column-2 .ironman p {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-left: 0;
    margin-top: 0.5rem;
  }

  #uber-slatco {
    background-size: cover;
    background-position: -140px 0;
    background-repeat: no-repeat;
    padding: 4rem 0.9375rem;
  }
  #uber-slatco .columns {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    background: none;
  }
  #uber-slatco .columns .column-1 {
    width: 100%;
  }
  #uber-slatco .columns .column-1 .mobile.img-mobile-back {
    width: 100%;
    height: auto;
    margin-bottom: 4rem;
  }
  #uber-slatco .columns .column-1 h2 {
    width: 60%;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 6rem;
  }
  #uber-slatco .columns .column-1 h2::before {
    bottom: -35%;
  }
  #uber-slatco .columns .column-1 p {
    font-size: 0.9375rem;
    line-height: 2rem;
    margin: 0;
    margin-bottom: 1rem;
    color: #fff;
    width: 100%;
  }
  #uber-slatco .columns .column-1 .orange {
    color: #ff3c00;
    font-size: 1.1875rem;
    font-weight: 700;
  }
  #uber-slatco .columns .column-1 .p-b {
    padding-bottom: 4rem;
  }
  #uber-slatco .columns .column-1 a {
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
    line-height: 1.8rem;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
  }
  #uber-slatco .columns .column-2 {
    width: 100%;
    text-align: center;
  }

  #dein-ganz {
    background-size: cover;
    padding: 4rem 0.9375rem;
  }
  #dein-ganz .column {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  #dein-ganz .column h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    width: 100%;
  }
  #dein-ganz .column h2:before {
    bottom: -25.5%;
    left: 37%;
  }
  #dein-ganz .column .content {
    padding-top: 5rem;
  }
  #dein-ganz .column .content p {
    text-align: center;
    margin: 0 auto;
    font-size: 0.9375rem;
    line-height: 2rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  #dein-ganz .column .content .orange {
    color: #ff3c00;
    font-weight: 700;
  }
  #dein-ganz .column .content .p-b {
    margin-bottom: 5rem;
  }
  #dein-ganz .column .content .p-t {
    margin-top: 5rem;
  }
  #dein-ganz .column .button a {
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
    line-height: 1.8rem;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
  }

  #mentale-transformation {
    padding: 4rem 0;
  }
  #mentale-transformation .container {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  #mentale-transformation .container h2 {
    font-size: 2.5rem;
    line-height: 2.4rem;
    width: 75%;
    margin: 0 auto;
    margin-top: 3rem;
  }
  #mentale-transformation .container h2:before {
    left: 35%;
  }
  #mentale-transformation .container .p-t {
    margin-top: 3rem;
    line-height: 2rem;
  }
  #mentale-transformation .container .logo-service {
    text-align: center;
  }
  #mentale-transformation .container .logo-service img {
    width: 70%;
    height: auto;
  }
  #mentale-transformation .container .content {
    padding: 4rem 0.9375rem;
  }
  #mentale-transformation .container .content .text-bold {
    color: #000;
    font-size: 1.1875rem;
    font-weight: 700;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
  }
  #mentale-transformation .container .content .row-one {
    display: flex;
    justify-content: space-around;
  }
  #mentale-transformation .container .grid {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  #mentale-transformation .container .grid > .item-1,
#mentale-transformation .container .grid > .item-2,
#mentale-transformation .container .grid > .item-3,
#mentale-transformation .container .grid > .item-4,
#mentale-transformation .container .grid > .item-5,
#mentale-transformation .container .grid > .item-6 {
    width: 100%;
    margin: -0.3125rem;
  }
  #mentale-transformation .container .grid > .item-1 img,
#mentale-transformation .container .grid > .item-2 img,
#mentale-transformation .container .grid > .item-3 img,
#mentale-transformation .container .grid > .item-4 img,
#mentale-transformation .container .grid > .item-5 img,
#mentale-transformation .container .grid > .item-6 img {
    width: 100%;
    height: 288px;
    position: relative;
  }
  #mentale-transformation .container .grid > .item-1 .float,
#mentale-transformation .container .grid > .item-2 .float,
#mentale-transformation .container .grid > .item-3 .float,
#mentale-transformation .container .grid > .item-4 .float,
#mentale-transformation .container .grid > .item-5 .float,
#mentale-transformation .container .grid > .item-6 .float {
    position: absolute;
    font-size: 0.8rem;
    margin-top: -8rem;
    line-height: 2rem;
    text-align: left;
    color: #fff;
    margin-left: 0.5rem;
    font-weight: 700;
    width: 65%;
  }
  #mentale-transformation .container .grid .item-7 {
    width: 100%;
    margin-top: 0;
  }
  #mentale-transformation .container .grid .item-7 img {
    width: 100%;
    height: 288px;
  }
  #mentale-transformation .container .grid .item-7 .float {
    position: absolute;
    font-size: 1rem;
    margin-top: -8rem;
    line-height: 2rem;
    text-align: left;
    color: #fff;
    margin-left: 1.5rem;
    font-weight: 700;
  }
  #mentale-transformation .container a {
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
    line-height: 1.8rem;
    width: 95%;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
  }

  #begeisterte {
    background-size: cover;
    padding: 4rem 0.9375rem;
  }
  #begeisterte .container {
    width: 100%;
    max-width: 100%;
  }
  #begeisterte .container h2 {
    font-size: 2.5rem;
    line-height: 2.4rem;
    width: 100%;
  }
  #begeisterte .container h2:before {
    left: 38%;
  }
  #begeisterte .container .testimonials-items {
    margin-top: 6rem;
  }
  #begeisterte .container .testimonials-items .item {
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 60px;
  }
  #begeisterte .container .testimonials-items .item .colum1 {
    width: 100%;
  }
  #begeisterte .container .testimonials-items .item .colum1 img {
    width: 100%;
    height: auto;
  }
  #begeisterte .container .testimonials-items .item .column2 {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  #begeisterte .container .testimonials-items .item .column2 p {
    font-size: 0.9375rem;
    line-height: 2rem;
    margin: 0;
    line-height: 2.5rem;
  }

  #kostenloses {
    padding: 4rem 0.9375rem;
  }
  #kostenloses .column {
    width: 100%;
    max-width: 100%;
  }
  #kostenloses .column h2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  #kostenloses .column .content p {
    width: 100%;
  }
  #kostenloses .column .content p::after {
    content: "";
    position: absolute;
    background: #ff3c00;
    display: block;
    width: 45px;
    height: 4px;
    bottom: -11.25%;
    left: 45%;
  }
  #kostenloses .column .signature {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  #kostenloses .column .button {
    text-align: center;
  }
  #kostenloses .column .button a {
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
    line-height: 1.8rem;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
  }

  /*Imagenes en reposnivo*/
  .none-movil {
    display: block;
    margin-bottom: 14rem;
  }
  .none-movil img {
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 100px;
  }

  .none-movil-two {
    display: block;
    margin-bottom: 15rem;
  }
  .none-movil-two img {
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 100px;
  }

  .navBar .logo-mobile {
    display: block;
    padding-top: 15px;
  }
  .navBar .logo-default {
    display: none;
  }

  nav.navBar.sticky .logo-sticky {
    width: 120px;
    display: none !important;
  }

  .navBar nav ul li:last-child a {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    line-height: 1.8rem;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    border-width: 2px;
    border-color: #ff3c00;
    border-style: solid;
    border-radius: 10px;
    margin-top: 14rem;
  }
}
@media (max-width: 1308px) and (min-width: 668px) {
  #hero .hero-title {
    flex-direction: column;
    text-align: center;
  }
}
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  a {
    display: inline-block;
  }

  #hero .hero-title {
    display: flex;
    justify-content: space-around;
  }
  #hero .hero-title .small,
#hero .hero-title .red {
    font-size: 1.4375rem;
  }
  #hero .hero-title .big {
    font-size: 4.5rem;
  }
  #hero .content {
    padding-left: 2rem;
  }
  #hero .content p {
    width: 75%;
  }
  #hero .content a {
    font-size: 0.625rem;
    display: inline-block;
  }
  #hero .content a:hover {
    border-width: 2px;
    border-color: #2b3e47;
    border-style: solid;
  }

  #blq-three {
    padding: 4rem 0.9375rem;
  }
  #blq-three .columns .column-1 {
    width: 100%;
  }
  #blq-three .columns .column-1 h2 {
    font-size: 2rem;
  }
  #blq-three .columns .column-2 {
    width: 100%;
  }

  #blq-four {
    background-size: cover;
    background-position: 35%;
    padding: 20px 15px;
  }
  #blq-four .columns .column-1 {
    width: 49%;
  }
  #blq-four .columns .column-2 {
    width: 49%;
  }
  #blq-four .columns .column-2 a {
    font-size: 0.625rem;
  }

  #blq-five {
    padding: 20px 15px;
  }
  #blq-five .columns .column-1 h2 {
    font-size: 2rem;
  }
  #blq-five .columns .column-1 h2::before {
    top: 115%;
  }

  #blq-six {
    padding: 7rem 0;
  }
  #blq-six .columns .column-2 .orange {
    padding-top: 80px;
  }
  #blq-six .columns {
    display: flex;
    justify-content: space-around;
  }
  #blq-six .columns .column-1 {
    width: 49%;
    position: relative;
    margin-top: 140px;
  }
  #blq-six .columns .column-1 h2 {
    font-size: 3rem;
    text-align: right;
    font-family: "Bebas Neue";
    font-weight: normal;
    width: 80%;
    margin: auto;
    position: relative;
  }
  #blq-six .columns .column-1 h2::before {
    content: "";
    position: absolute;
    background: #ff3c00;
    display: block;
    width: 90px;
    height: 4px;
    bottom: -25px;
    right: 0;
  }
  #blq-six .columns .column-1 .left-bottom {
    position: absolute;
    left: -5%;
    bottom: -5.5%;
    width: 100%;
    height: auto;
    z-index: 0;
  }
  #blq-six .columns .column-1 .signatur {
    text-align: center;
    margin: 0;
    margin-top: 4.0625rem;
  }
  #blq-six .columns .column-2 {
    width: 49%;
    z-index: 1;
  }
  #blq-six .columns .column-2 .orange {
    padding-top: 80px !important;
    color: #ff3c00;
    font-size: 1.1875rem;
    font-weight: 700;
  }
  #blq-six .columns .column-2 p {
    font-size: 0.9375rem;
    line-height: 2rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  #blq-six .columns .column-2 .p-b {
    padding-bottom: 4rem;
  }
  #blq-six .columns .column-2 a {
    font-size: 0.625rem;
    margin-top: 80px;
  }
  #blq-six .columns .column-2 .none {
    display: none;
  }

  #blq-eight {
    padding: 25px 20px;
  }
  #blq-eight .columns .column-1 {
    width: 49%;
  }
  #blq-eight .columns .column-1 h2 {
    font-size: 2rem;
  }
  #blq-eight .columns .column-1 .orange {
    margin-top: 5rem;
  }
  #blq-eight .columns .column-2 {
    width: 49%;
    display: flex;
    align-items: flex-end;
  }
  #blq-eight .columns .column-2 .center {
    text-align: center;
    /*change 23711/2020*/
    margin-bottom: -2.3125rem;
  }
  #blq-eight .columns .column-2 .center img {
    width: 100%;
    height: auto;
  }

  #blq-nine {
    background-size: cover;
    background-position: 35%;
    padding: 4rem 0.9375rem;
  }
  #blq-nine .columns {
    display: flex;
    justify-content: space-around;
  }
  #blq-nine .columns .column-1 {
    width: 49%;
  }
  #blq-nine .columns .column-2 {
    width: 49%;
  }
  #blq-nine .columns .column-2 .orange {
    color: #ff3c00;
    font-size: 1.1875rem;
    font-weight: 700;
  }
  #blq-nine .columns .column-2 p {
    font-size: 0.9375rem;
    line-height: 2rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  #blq-nine .columns .column-2 .p-t {
    padding-top: 4rem;
  }
  #blq-nine .columns .column-2 .p-b {
    padding-bottom: 4rem;
  }
  #blq-nine .columns .column-2 a {
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
    line-height: 1.8rem;
    box-sizing: border-box;
    display: inline-block;
  }

  #blq-ten {
    padding: 4rem 0.9375rem;
  }
  #blq-ten .columns .column-1 {
    width: 49%;
  }
  #blq-ten .columns .column-1 a {
    font-size: 0.625rem;
  }

  #uber-slatco {
    background-size: cover;
    background-position: 60% 0;
    background-repeat: no-repeat;
    padding: 4rem 0.9375rem;
  }
  #uber-slatco .columns {
    /*change 23/11/2020*/
    background: block;
  }
  #uber-slatco .columns .column-1 {
    width: 49%;
  }
  #uber-slatco .columns .column-1 h2 {
    font-size: 2rem;
  }
  #uber-slatco .columns .column-1 p {
    width: 100%;
  }
  #uber-slatco .columns .column-1 a {
    font-size: 0.625rem;
  }
  #uber-slatco .columns .column-1 .mobile.img-mobile-back {
    display: none;
  }
  #uber-slatco .columns .column-2 {
    width: 49%;
    text-align: center;
  }

  #dein-ganz {
    padding: 4rem 0.9375rem;
  }
  #dein-ganz .column {
    text-align: center;
  }
  #dein-ganz .column h2 {
    font-size: 2rem;
  }
  #dein-ganz .column h2:before {
    content: "";
    position: absolute;
    background: #ff3c00;
    display: block;
    width: 90px;
    height: 4px;
    bottom: -35.5%;
    left: 46%;
  }

  #begeisterte {
    background-size: cover;
    padding: 7rem 0;
  }
  #begeisterte .container h2 {
    font-size: 3rem;
    text-align: center;
    font-family: "Bebas Neue";
    font-weight: normal;
    margin: 0;
    width: 75%;
    margin: 0 auto;
    position: relative;
  }
  #begeisterte .container h2:before {
    content: "";
    position: absolute;
    background: #ff3c00;
    display: block;
    width: 90px;
    height: 4px;
    bottom: -35.5%;
    left: 46%;
  }
  #begeisterte .container .testimonials-items {
    margin-top: 6rem;
  }
  #begeisterte .container .testimonials-items .item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 60px;
  }
  #begeisterte .container .testimonials-items .item .colum1 {
    width: 39%;
  }
  #begeisterte .container .testimonials-items .item .colum1 img {
    width: 100%;
    height: auto;
  }
  #begeisterte .container .testimonials-items .item .column2 {
    width: 59%;
  }
  #begeisterte .container .testimonials-items .item .column2 p {
    font-size: 0.9375rem;
    line-height: 2rem;
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 1rem;
  }
  #begeisterte .container .testimonials-items .item .column2 .orange {
    color: #ff3c00;
    font-size: 0.9375rem;
    font-weight: 700;
  }
}

/*# sourceMappingURL=responsive.css.map */
