/* :root {
    --main-font: 'Overpass', sans-serif;
    --font-saira: 'Saira', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --main-txt-color: var(--third-color);
  } */
  
  h1{
    font-family:  var(--h1-font);
    font-size: var(--h1-size);
  }
  h2{
    font-family:  var(--h2-font);
    font-size: var(--h2-size);
    font-size: 34px;
    margin-bottom: 16px;
    width: 100%;
  }
  h3{
    font-family:  var(--h3-font);
    font-size: var(--h3-size);
  }
  h4{
    font-family:  var(--h4-font);
    font-size: var(--h4-size);
  }
  h5{
    font-size: 16px;
    font-family: "Roboto-Regular";
    letter-spacing: 2px;
    padding-bottom: 10px;
  }

  .widget h5{
    color: #fff;
    text-transform: uppercase;
  }

  p{
    font-family:  var(--p-font);
    font-size: var(--p-size);
    color: #7a7a7a;
    line-height: 1.8;
  }
  .principal_bg_primary{
    background-color: var(--primary-color);
  }
  .principal_bg_secondary{
    background-color: var(--secundary-color);
  }
  .principal_bg_Third{
    background-color: var(--third-color);
  }
  
  .p-none {
    padding: 0;
  }
  
  .m-none {
    margin: 0;
  }
  
  .bg-gray {
    padding: 30px 0;
    background-color: lightgrey;
  }
  
  .text-align-left {
    text-align: left;
  }
  
  .text-align-right {
    text-align: right;
  }
  
  .text-align-center {
    text-align: center;
  }
  
  /* H01 */
  #h01 .img-holder {
    width: 100%;
    height: 552px;
    position: relative;
    overflow: hidden;
  }

  #h01 p{
    color: #fff;
  }

  #h01 .img-holder {
    width: 100%;
    height: 552px;
    position: relative;
    overflow: hidden;
  }

  #h01 h1{
    font-size: 22px;
  }
  
  #h01 .img-holder img {
    position: absolute;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  #h01 .floatDiv .vertical {
    padding: 42px 41px 24px 20px;
    background: rgb(59, 137, 198);
    background: -moz-linear-gradient(150deg, rgba(59, 137, 198, 1) 0%, rgba(72, 176, 113, 1) 100%);
    background: -webkit-linear-gradient(150deg, rgba(59, 137, 198, 1) 0%, rgba(72, 176, 113, 1) 100%);
    background: linear-gradient(150deg, rgba(59, 137, 198, 1) 0%, rgba(72, 176, 113, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b89c6", endColorstr="#48b071", GradientType=1);
    border-radius: 15px 0 0 15px;
    max-width: 74px;
  }
  
  #h01 .floatDiv .vertical p {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 14px;
    font-family: var(--font-roboto);
    letter-spacing: 1px;
    word-break: break-all;
  }
  
  #h01 .floatDiv div {
    padding: 40px;
  }
  
  
  @media (max-width: 767px) {
    #h01 .floatDiv .vertical {
        padding: 16px 20px 0px 10px;
        border-radius: 15px 15px 0 0;
        max-width: 100%;
        text-align: center;
    }
  
    #h01 .floatDiv .vertical p {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
    }
  
    #h01 .floatDiv div {
        padding: 18px 40px 7px;
    }
  }
  
  @media (max-width: 1207px) {
    #h01 .img-fluid {
        max-width: unset;
        height: 100%;
    }
  }
  
  #h01 .floatDiv p {
    font-size: 16px;
    font-family: var(--font-roboto);
    word-break: break-all;
    margin-bottom: 0px;
  }
  
  
  #h01 .floatDiv {
    color: white;
    background-color: var(--third-color);
    border-radius: 15px;
    position: relative;
  }

  #h01 > .container{
    margin-top: -110px;
  }
  
  
  #h01 .floatDiv span {
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
    font-family: var(--p-font);
  }
  
  #h01 .floatDiv ul {
    padding-inline-start: 0;
    list-style: none;
  }
  
  #h01 .floatDiv ul li {
    text-decoration: none;
    margin-bottom: 5px;
    font-family: var(--p-font);
  }
  
  /* #h01 .floatDiv .flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 4;
  } */
  
  #h01 .floatDiv .flex-container > div {
    margin: 40px 35px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    flex: auto;
    border: solid;
  }
  
  
  /* H02 */
  
  #h02 .img-holder {
    width: 100%;
    height: 552px;
    position: relative;
    overflow: hidden;
  }
  
  #h02 .img-holder img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  #h02 .floatDiv {
    position: relative;
    margin-bottom: 85px;
  }
  
  #h02 .floatDiv div {
    background-color: var(--third-color);
    border-radius: 15px;
    position: absolute;
    bottom: -65px;
    padding: 44px 32px 40px 38px;
    color: white;
  }

  
  #h02 .floatDiv p {
    font-family: var(--font-roboto);
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
  }
  
  @media (max-width: 1207px) {
    #h02 .img-fluid {
        max-width: unset;
        height: 100%;
    }
  }
  
  
  /* H03 */
  #h03 .img-holder {
    width: 100%;
    height: 552px;
    position: relative;
    overflow: hidden;
  }
  
  @media (max-width: 767px) {
    #h03 .img-holder {
        height: 250px;
    }
  
  }
  
  #h03 .img-holder img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
  
  #h03 .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: transparent;
    border: solid 1px white;
    font-family: var(--p-font);
  }
  
  #h03 .carousel-indicators li.active {
    background-color: white;
  }
  
  @media (max-width: 1207px) {
    #h03 .img-fluid {
        max-width: unset;
        height: 100%;
    }
  }
  
  
  /* H04 */
  
  /* #h04 .img-holder {
  width: 100%;
  height: 552px;
  position: relative;
  overflow: hidden;
  }
  #h04 .img-holder img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  } */
  
  
  .cover {
    background-size: cover;
  }
  
  #h04 .row {
    height: 277px;
    background-color: rgba(100, 112, 141, .9);
  }
  
  #h04 .center {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: white;
  }
  
  #h04 h1 {
    font-size: 36px;
    margin-bottom: 25px;
  }
  
  #h04 .container-img {
    position: relative;
    text-align: center;
    color: white;
  }
  
  #h04 .container-img img {
    height: 323px;
    width: 100%;
  }
  
  @media (max-width: 1207px) {
    #h04 .img-fluid {
        max-width: unset;
        height: 100%;
    }
  }
  
  
  #h04 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .tag {
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 12, 12, .3);
  }
  
  /* f01 */
  
  
  #f01 p {
    font-family: var(--p-font);
    color: #7a7a7a;
    font-size: 16px;
    line-height: 1.7em
  }
  
  #f01 .faq {
    padding-top: 2rem;
  }
  
  #f01 .faq .double-title {
    max-height: 200px;
  }
  
  #f01 .faqs-questions {
    padding-top: 0;
  }
  
  #f01 .faqs-questions .card {
    background-color: transparent;
    border: none;
    border-bottom: #ebebeb solid 2px;
  }
  
  #f01 .faqs-questions .card .card-header {
    background-color: transparent;
    border: none;
    padding: 16px 0 0;
  }
  
  #f01 .faqs-questions .card .card-body {
    color: #7a7a7a;
    padding: 20px 0;
  }
  
  #f01 .faqs-questions button {
    color: #aaaaaa;
    font-size: 21px;
    border: 0px;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    text-decoration: none !important;
    font-family: var(--p-font);
  }
  
  #f01 .faqs-questions button:active {
    text-decoration: none !important;
    color: #d1a192;
    outline: 0;
  }
  
  #f01 .faqs-questions button:focus {
    text-decoration: none !important;
  }
  
  #f01 .faqs-questions button.btn.btn-link {
    color: #48b071;
    word-break: break-all;
    white-space: break-spaces;
    font-family: var(--p-font);
  }
  
  #f01 .faqs-questions button.btn.btn-link.collapsed {
    color: #aaaaaa;
  }
  
  
  #f01 .faqs-questions button:hover {
    color: var(--primary-color);
    font-size: 21px;
    text-decoration: none;
  }
  
  #f01 .faqs-questions svg {
    margin-right: 0;
    width: 20px;
  }
  
  #f01 .rotate-icon {
    transform: rotate(-180deg);
    transition: 0.3s transform ease-in-out;
    display: inline-block;
    color: #aaaaaa;
  }
  
  #f01 .collapsed .rotate-icon {
    transform: rotate(0deg);
    color: var(--primary-color);
  }
  
  /* u01 */
  
  #u01 {
    /*margin: 20px 0;*/
  }
  
  #u01 p {
    font-family: var(--p-font);
    font-size: 16px;
    width: 100%;
  }
  
  #u01 label {
    color: #aaaaaa;
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  #u01 .justify-center {
    justify-content: center;
    text-align:center;
  }
  
  #u01 .justify-center label {
    text-align: center;
    margin: 0px auto 30px;
    display: block;
    letter-spacing: 2px;
  }
  
  #u01 .justify-end {
    justify-content: flex-end;
  }
  
  #u01 .justify-end p, #u01 .justify-end h2 {
    text-align: right;
  }
  
  #u01 .justify-end > div {
    text-align: right;
  }
  
  
  /*  b01 */
  #b01 img {
    border-radius: 15px;
  }
  
  
  /* b02 */
  
  #b02 {
    /*margin: 20px 0;*/
  }

  #b02 label {
    margin: 0px auto 30px;
    display: block;
    letter-spacing: 2px;
    color: #aaaaaa;
    font-size: 16px;
  }
  
  
  /* b03 */
  
  #b03 {
    /*margin: 20px 0;*/
  }
  
  #b03 span {
    color: #aaa;
    font-size: 16px;
    font-family: var(--p-font);
  }
  

  
  #b03 p {
    color: #7a7a7a;
    font-size: 16px;
    font-family: var(--p-font);
    margin-top: 15px;
  }
  
  #b03 span {
    color: #60675c;
    font-size: 16px;
    font-family: var(--p-font);
    display: block;
  }
  
  #b03 .icon {
    padding-top: 25px;
  }
  
  #b03 .icon span {
    font-size: 24px;
    text-align: center;
    color: #60675c;
    font-family: dashicons !important;
  }
  
  #b03 .icon span.dashicons {
    height: 100px;
    width: 100%;
    font-size: 100px;
    color: #007bff;
    font-family: dashicons !important;
  }
  
  #b03 .icon p {
    text-align: center;
  }
  
  #b03 .icon a {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
  }
  
  #b02 .img-fluid {
    float: right;
    display: block;
    margin: 10px 50px 15px 0;
    max-width: 71%;
    height: auto;
    margin-top: 100px;
  }
  
  /* c01 */
  
  #c01 .row {
    height: 480px;
    display: grid;
    background-color: rgba(100, 112, 141, .9);
  }
  
  #c01 .center {
    text-align: center;
    margin: auto;
    width: fit-content;
    padding: 20px;
    color: white;
  }
  
  @media (max-width: 767px){
    #c01 .center{
      padding: 30px 20px;
    }
  
    #c01 .center h2{
      margin-bottom: 30px;
    }
  }
  
  #c01 .center p {
    color: white;
    font-size: 20px;
    font-family: var(--p-font);
    margin-bottom: 30px;
    text-align: center;
    display: block;
    font-weight: normal;
    width: 55%;
    margin: 0 auto 20px;
  }
  
  #c01 .center a {
    color: white;
    font-size: 20px;
    font-family: var(--p-font);
    text-align: center;
    display: block;
    background: rgb(59, 137, 198);
    background: -moz-linear-gradient(150deg, rgba(59, 137, 198, 1) 0%, rgba(72, 176, 113, 1) 100%);
    background: -webkit-linear-gradient(150deg, rgba(59, 137, 198, 1) 0%, rgba(72, 176, 113, 1) 100%);
    background: linear-gradient(150deg, rgba(59, 137, 198, 1) 0%, rgba(72, 176, 113, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b89c6", endColorstr="#48b071", GradientType=1);
    width: fit-content;
    padding: 15px 35px;
    margin: 0 auto;
    border-radius: 50px;
    letter-spacing: 1px;
  }
  
  @media (max-width: 445px) {
    #c01 .center a {
        font-size: 12px;
    }
  
    #c01 .center p {
        width: 80%;
    }
  }
  
  #c01 .tag {
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 112, 141, .9);
  }
  
  
  /* c02 */
  
  #c02 .row {
    padding: 0 16px;
    border: solid 1px #d6d6d6;
    border-radius: 15px;
    padding: 30px 30px 15px;
    position: relative;
    background-color: #fff;
  }

  #c02:before{
    width: 100%;
    height: 50%;
    position: absolute;
    background-color: white;
    content: '';
    left: 0px;
    top: 0px;
  }

  
  
  @media (max-width: 575px) {
    #c02 .row {
        margin: 0;
    }
  }
  
  
  #c02 .row a {
    float: right;
    margin-top: 10px;
  }
  
  @media (max-width: 767px){
    #c02 .row a{
      float: initial;
    }
  }
  
  /* l01 */
  
  #l01 {
    margin-bottom: 55px;
  }
  
  #l01 .card-top {
    border-radius: 15px 15px 0 0;
    border: solid 1px #d6d6d6;
    border-bottom: 0;
  }
  
  #l01 .card-bottom {
    border-radius: 0 0 15px 15px;
    border: solid 1px #d6d6d6;
    margin-bottom: 20px;
  }
  
  #l01 .card-bottom-slider .card-body a {
    color: #6cb7d7;
  }
  
  #l01 .blue a::after {
    content: '●';
    display: none;
  }
  
  #l01 .blue:hover a::after {
    content: '●';
    display: inline-block;
  }
  
  #l01 .card-top-slider {
    border-radius: 0 0 15px 15px;
    border: solid 1px #d6d6d6;
  }
  
  #sliderMovil div.carousel-item .card-bottom-slider .card-body {
    padding: 10px;
  }
  
  #sliderMovil div.carousel-item .card-bottom-slider .card-body a {
    margin: 0;
  }
  
  #l01 .card-bottom-slider {
    border-radius: 15px 15px 0 0;
    border: solid 1px #d6d6d6;
    text-align: center;
  }
  
  #l01 .card-top-slider .container-img {
    position: relative;
    text-align: center;
    color: white;
    height: 230px;
    border-radius: 0 0 15px 15px;
  }
  
  #l01 .card-top-slider .tag {
    border-radius: 0 0 15px 15px;
  }
  
  #l01 .card-top-slider .dashicons {
    position: absolute;
    z-index: 9999;
    font-size: 55px;
    left: 46%;
    bottom: 33%;
    opacity: 0;
    height: auto;
    width: auto;
  }
  
  #carouselExampleIndicators div.card-bottom-slider div.card-body {
    padding: 10px;
  }
  
  #carouselExampleIndicators div.card-bottom-slider div.card-body a {
    margin: 0;
  }
  
  #l01 .img-holder {
    width: 100%;
    height: 552px;
    position: relative;
    overflow: hidden;
  }
  
  #l01 .img-holder img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    border-radius: 15px 15px 0 0;
  }
  
  
  #l01 .container-img {
    position: relative;
    text-align: center;
    color: white;
    height: 250px;
    border-radius: 15px 15px 0 0;
  }
  
  #l01 .tag {
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgb(59, 137, 198);
    background: -moz-linear-gradient(150deg, rgba(59, 137, 198, .5) 0%, rgba(72, 176, 113, .5) 100%);
    background: -webkit-linear-gradient(150deg, rgba(59, 137, 198, .5) 0%, rgba(72, 176, 113, .5) 100%);
    background: linear-gradient(150deg, rgba(59, 137, 198, .5) 0%, rgba(72, 176, 113, .5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b89c6", endColorstr="#48b071", GradientType=1);
    border-radius: 15px 15px 0 0;
    display: none;
  }
  
  #l01 .dashicons {
    position: absolute;
    z-index: 9999;
    font-size: 55px;
    left: 280px;
    bottom: 42px;
    opacity: 0;
  }
  
  #l01 .container-img:hover .tag {
    display: block;
  }
  
  #l01 .container-img:hover .dashicons {
    opacity: 1;
  }
  
  
  /*#l01 .card-body a {
    font-size: 15px;
    color: #232323;
    margin-bottom: 15px;
    font-family: var(--p-font);
    padding: 0;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  #l01 .card-body a::after {
    content: '●';
    display: none;
  }
  
  #l01 .green-card:hover a::after {
    content: '●';
    display: inline-block;
  }

  */
  
  #l01 .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: transparent;
    border: solid 2px #c0c0c0;
    font-family: var(--p-font);
  }
  
  #l01 .carousel-indicators li.active {
    background-color: #c0c0c0;
  }
  
  #l01 .carousel-control-prev {
    left: -100px;
  }
  
  #l01 .carousel-control-next {
    right: -100px;
  }
  
  @media (max-width: 767px) {
    #l01 .carousel-control-prev {
        left: 0px;
    }
  
    #l01 .carousel-control-next {
        right: 0px;
    }
  }
  
  #l01 #carouselExampleIndicators {
    margin-bottom: 50px;
  }
  
  #l01 .carousel-indicators {
    bottom: -55px;
  }
  
  #l01 .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c0c0c0' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  
  #l01 .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c0c0c0' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  .btn-secondary,.btn-secondary:hover{
    background-color: transparent;
    text-decoration: none;
  }
  
  
  /*  l02 */
  
  #l02 {
    /*margin: 20px 0;*/
  }
  
  #l02 .top {
    /*margin: 20px 0;*/
  }
  
  #l02 .top .dashicons {
    font-size: 70px;
    color: var(--secundary-color);
    margin-bottom: 26px;
    height: 70px;
  }


  #l02 .top:hover .dashicons , #l02 .top:hover .btn-secondary, #l02 .top:hover h3 {
    color: var(--primary-color);
  }
  
  #l02 .top p {
    font-size: 16px;
    color: #7a7a7a;
    margin-bottom: 25px;
    font-family: var(--p-font);
  }
  
  #l02 .top a {
    margin-bottom: 10px;
    letter-spacing: 1.5px;
  }

  .btn-primary:hover{
    color: #fff!important;
    text-decoration: none;
  }
  
  #l02 .top .btn-secondary::after {
    content: '●';
    display: none;
  }
  
  #l02 .top:hover .btn-secondary::after {
    content: '●';
    display: inline-block;
  }
  
  #l02 .side {
    /*margin: 20px 0;*/
  }
  
  
  #l02 .side {
    display: flex;
  }
  
  #l02 .side .dashicons {
    font-size: 70px;
    color: var(--secundary-color);
    margin-bottom: 20px;
    width: fit-content;
    margin-right: 15px;
  }

  #l02 .side p {
    font-size: 16px;
    color: #7a7a7a;
    margin-bottom: 10px;
    font-family: var(--p-font);
    margin-bottom: 25px;
  }
  
  #l02 .side a {
    font-size: 15px;
    color: var(--secundary-color);
    margin-bottom: 10px;
    font-family: var(--p-font);
    letter-spacing: 1.5px;
  }
  
  #l02 .side a::after {
    content: '●';
    display: none;
  }
  
  #l02 .side:hover a::after {
    content: '●';
    display: inline-block;
  }
  
  #l02 .top-center {
    /*margin: 20px 0;*/
  }
  
  
  #l02 .top-center .dashicons {
    font-size: 90px;
    color: var(--secundary-color);
    height: 113px;
    width: 90px;
    margin-bottom: 26px;
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  #l02 .top-center p {
    font-size: 16px;
    color: #7a7a7a;
    margin-bottom: 10px;
    font-family: var(--p-font);
    text-align: center;
    margin-bottom: 25px;
    text-align: center;
  }
  
  #l02 .top-center a {
    font-size: 15px;
    color: var(--secundary-color);
    margin-bottom: 10px;
    font-family: var(--p-font);
    letter-spacing: 1.5px;
    text-align: center;
    margin: 0 auto;
    display: block;
  }
  
  #l02 .top-center a::after {
    content: '●';
    display: none;
  }
  
  #l02 .top-center:hover a::after {
    content: '●';
    display: inline-block;
  }
  
  /* k01 */
  
  #k01 {
    margin-top: 0px;
    margin-bottom: -20px;
    background-color: rgba(114, 126, 152, .9);
  }
  
  #k01 .container{
    padding: 0 28px;
  }
  
  .background-size {
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #k01 .info {
    padding: 45px 0;
  }
  
  
  #k01 .info  h2{
    color: #fff;
    margin-top: 20px;
  }
  

  @media (max-width: 767px) {
    #k01 .info {
        padding: 45px 15px;
        margin-bottom: 20px;
    }
  
  }
  
  #k01 .form-check label {
    color: #aaaaaa;
  }
  
  
  #k01 .info p {
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    font-family: var(--p-font);
    width: 80%;
  }
  
  
  #k01 .info ul {
    padding-inline-start: 0;
  }
  
  #k01 .info li {
    color: white;
    list-style: none;
    font-family: var(--p-font);
  }
  
  #k01 .form .card-body{
    border-radius: 15px;
    padding: 53px;
  }
  
  @media (max-width: 767px){
    #k01 .form .card-body{
      padding: 35px;
    }
  }
  
  
  #k01 .form .card .card-title {
    width: 90%;
    margin-bottom: 20px;
    font-family: "Saira-Regular";
  }
  
  #k01 .form .card form input {
    background-color: #f5f6f4;
    border: 0px;
  }
  

  #k01 .form .card form .btn{
    width: 100%;
  }


  #k01 .form .card form textarea {
    background-color: #f5f6f4;
    color: #aaaaaa;
    border:0px
  }

  .wpcf7-acceptance{
    color: #aaaaaa;
    position: relative;
    display: block;
  }

  .wpcf7-acceptance input{
    position: absolute;
    top: 5px;
  }

  .wpcf7-acceptance .wpcf7-list-item {
    margin:0px;
  }
  
  .wpcf7-acceptance .wpcf7-list-item-label{
    display: block;
    padding-left: 20px;
  }

  .wpcf7-acceptance{
    color: #aaaaaa;
    position: relative;
    display: block;
  }
  
  #k01 .form .card form input::placeholder, #k01 .form .card form textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaaaaa;
    opacity: 1; /* Firefox */
  }
  
  #k01 .form .card form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #aaaaaa;
  }
  
  #k01 .form .card form input::-ms-input-placeholder { /* Microsoft Edge */
    color: #aaaaaa;
  }

 body  .wpcf7 .ajax-loader{
    display: none;
  }
  
  /*#k01 .form .card .btn {
    letter-spacing: 2px;
    padding: 14px;
    width: 100%;
    color: white;
    font-family: var(--p-font);
    border-radius: 50px;
    background: var(--secundary-color);
    background: -moz-linear-gradient(150deg, rgba(59, 137, 198, 1) 0%, rgba(72, 176, 113, 1) 100%);
    background: -webkit-linear-gradient(150deg, rgba(59, 137, 198, 1) 0%, rgba(72, 176, 113, 1) 100%);
    background: linear-gradient(150deg, rgba(59, 137, 198, 1) 0%, rgba(72, 176, 113, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b89c6", endColorstr="#48b071", GradientType=1);
    white-space: normal;
  }*/
  
  #k01 .form .card {
    position: relative;
    bottom: 60px;
    border-radius: 15px;
  }
  
  /* k02 */
  
  #k02 {
    /*margin: 20px 0;*/
  }
  
  #k02 .card {
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  #k02 .card .card-body {
    margin: 35px;
    padding: 0;
  }
  
  
  #k02 .info p {
    color: #7a7a7a;
    font-family: var(--p-font);
    font-size: 16px;
    margin-bottom: 25px;
  }
  
  #k02 .info span {
    color: #7a7a7a;
    font-family: var(--p-font);
    font-size: 16px;
  }
  
  #k02 .card span {
    font-family: var(--p-font);
    color: #7a7a7a;
    opacity: .85;
  }
  
  #k02 .card a {
    font-family: var(--font-roboto);
    margin: 30px 0 0;
    color: var(--secundary-color);
    padding: 0;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  
  .background {
    background: url('https://o-tec.ddev.site/wp-content/uploads/2021/03/exercising-during-rehabilitation-LUG98WM_jpg_1-1.png');
    position: relative;
  }
  
  .layer {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }



  /* FOOTER */

  .container-footer{
    width: 100%;
    padding: 50px 0px 20px 0px;
    margin-right: auto;
    margin-left: auto;
}

  
/* css footer 1 */

.page-footer{
    background-color: var(--footer-bg-color);
}

.page-footer  p{
    margin-top: 25px;
    color: white;
}

.textwidget {
  color: #fff;
  font-family: "Overpass-Regular";
}

.textwidget p{
  font-family: "Overpass-Regular";
}

.widget .menu li {
  color: #fff;
  display: block;
  text-align: left;
}

.widget .menu li a{
  color: #fff;
  font-family: "Overpass-Regular";
}

.widget .menu li:first-child a, .textwidget a{
  color: #48b071;
}

.widget h4{
  color: #fff;
}

.widget{
  list-style: none;
  margin-bottom: 40px;
}


.rightSocket .menu{
  margin-top: 20px;
}

.menu{
    text-align: right;
}

.menu li{
    display: inline-block;
    margin-left: 25px;
    color: white;
}

.menu .active{
    color: #759fd6;
}

.icons{
    text-align: right;
    margin-top: 46px;
}

.icons a{
    color: white;
    padding: 15px;
    background-color: gray;
    border-radius: 50%;
    margin-left: 10px;
}

/* css footer 2 */

.links .active{
    color: #759fd6;
}

.links ul{
    margin-top: 25px;
    color: white;
    list-style-type: none;
}

.newsletter input{
    background-color: #777777;
    padding: 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 25px;
}

.newsletter .dashicons{
    position: absolute;
    color: white;
    top: 68px;
    right: 46px;
}
.newsletter ::placeholder {
    color: #abaaaa;
    opacity: 1; /* Firefox */
}
  
.newsletter :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #abaaaa;
}
  
.newsletter ::-ms-input-placeholder { /* Microsoft Edge */
    color: #abaaaa;
}

/* css footer 3 */
.footerImgIcon{
    text-align: left;
}

.footerImgIcon .icons{
    text-align: left;
}


.linksContact p{
    margin: 10px 0;
}

.linksContact ul{
    color: white;
    list-style-type: none;
    padding-inline-start: 0;
}

.linksContact ul li{
    margin: 10px 0;
}

.linksContact ul .active{
    color: #759fd6;
} 

.container-socket{
    width: 100%;
    padding: 0px 0px;
    margin-right: auto;
    margin-left: auto;
}

.page-socket{
    background-color: var(--footer-bg-color);
    color: white;
    border-top: 1px solid #c0c0c0;
}

.rightSocket{
    text-align: right;
}

.rightSocket ul{
    padding-inline-start: 0;
}

.rightSocket ul li{
    display: inline-block;
}

.rightSocket ul li{
    color: white;
    padding-right: 15px;
}

.rightSocket ul li a{
    color: white;
    font-family: "Overpass-Regular";
}

.rightSocket .iconsSocket{
    margin-bottom: 15px;
}

.rightSocket .iconsSocket a div{
    margin-bottom: 15px;
    color: white;
}

.hr-socket{
    border-top: solid 1px white;
    padding-top: 15px;
}

